.address-box {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding-bottom: 6px;
  margin-bottom: 6px;
  padding-top: 2px;
}
.avatar {
  margin: 20px 0px;
  background-color: #1976d2 !important;
  align-items: center;
}
